@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

.show-view__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.show-view__content__text{
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
 
}

.show-view__content__text__link{
    text-decoration: none;
    color: green;
}

