@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --black--color: #000000;
    --text--color : #F6F6F6;
    --green--color : green;
}


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--black--color);
    color: var(--text--color);
}

header{
    padding: 2% 0 0 15%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

nav{
    display: flex;
    gap: 80px;
}

.nav-text{
    text-decoration: none;
    color: var(--green--color);
}

main{
    margin: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1% 0 ;
    color: var(--black--color);
    background-color: var(--green--color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
