@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

@media (max-width: 1200px) {
    .show-view__content{
        width: auto;
    }
}

:root{
    --black--color: #000000;
    --text--color : #F6F6F6;
    --green--color : green;
}

.image-display{
    width: 50%;
}

.title-highlight{
    color: var(--green--color);
}

.show-view__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.show-view__content__title{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.show-view__content__text{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.show-view__buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.show-view__buttons__title{
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Krona One', sans-serif;
}

.show-view__buttons__button{
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--green--color);
    width: 50%;
    border-radius: 16px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--black--color);
    font-family: 'Montserrat', sans-serif;
}

.show-view__buttons__button:hover {
    background-color: rgb(27, 255, 27);
}

.show-view__buttons__button__img{
    width: 24px;
    height: 24px;
}
